body {
    text-align: center;
    margin: 0px;
    min-height: 100px;
    background-color: #f7ebe7;
}

p {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: #436e6f;
            font-size: 16px
        }

a {font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-right: 10px;}

header {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #436e6f;
    color: white;
    padding: 2rem;
    margin-bottom: 20px;
}


div {
    margin: auto;
    content: center;
}

img {
    margin: 10px;
}

.profile {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.post {
    background-color: white;
    padding: 30px;
    width: 25%;
    height: auto;
    display: inline-block;
    border-radius: 10%;
}

.post_head {
    display: flex;
}

.post_img {
    width: 75%;
    height: auto;
}

a:hover {
    color: #deae9f;
}

footer {
    background-color: #f7ebe7;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: #436e6f;
    padding: 2rem;
}

input {
    display: inline-block;
    border-radius: 10%;
}